// Brand-colors
$pink: #f67acb;

// Neutral-colors
$white: #ffffff;
$white-light: rgba(255, 255, 255, 0.7);

// Gray Scale
$gray-1: #050110;
$gray-2: #1c1d1f;
$gray-3: #393c40;
$gray-4: #5c6066;
$gray-5: #e6ebf2;
$gray-8: #f7f8fa;
