footer {
    background-color: $gray-1;

    padding-top: 8.8rem;
    padding-bottom: 3.9rem;

    main {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

        padding-bottom: 7.2rem;

        .area-left {
            max-width: 28.1rem;

            p {
                font-size: 1.4rem;
                line-height: 150%;

                color: $white-light;

                margin-top: 3.5rem;
            }
        }

        nav {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            width: 100%;
            max-width: 77.7rem;

            .item {
                h6 {
                    font-family: "Sora", sans-serif;
                    font-weight: 600;
                    line-height: 125%;
                    letter-spacing: -1px;

                    color: $white;

                    margin-bottom: 2.4rem;
                }

                ul {
                    li {
                        &:not(:last-child) {
                            margin-bottom: 3.2rem;
                        }

                        a {
                            font-family: "Sora", sans-serif;
                            font-size: 1.4rem;
                            line-height: 105%;

                            color: $white-light;

                            transition: color 0.3s;

                            &.social {
                                display: flex;
                                align-items: center;

                                span {
                                    margin-left: 0.8rem;
                                }
                            }

                            &:hover {
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }

    .copy {
        display: flex;
        justify-content: space-between;

        padding-top: 4.1rem;

        p {
            font-size: 1.4rem;
            line-height: 150%;

            color: $white-light;
        }

        .group {
            display: flex;

            span {
                font-family: "Sora", sans-serif;
                font-size: 1.4rem;
                line-height: 150%;

                color: $white-light;

                margin-right: 0.8rem;
            }
        }
    }

    @include responsive(1200px) {
        main {
            nav {
                max-width: 63rem;
            }
        }
    }

    @include responsive(991px) {
        main {
            nav {
                max-width: 45rem;
            }
        }
    }

    @include responsive(768px) {
        main {
            flex-direction: column;
            align-items: center;

            .area-left {
                display: flex;
                flex-direction: column;
                align-items: center;

                margin-bottom: 4rem;

                p {
                    text-align: center;
                }
            }

            nav {
                max-width: 100%;
            }
        }
    }

    @include responsive(480px) {
        padding: 4rem 0;

        main {
            padding-bottom: 4rem;

            nav {
                flex-direction: column;
                align-items: center;

                .item {
                    &:not(:last-child) {
                        margin-bottom: 4rem;
                    }

                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }
        }

        .copy {
            flex-direction: column;
            align-items: center;

            p {
                margin-bottom: 2rem;
            }
        }
    }
}
